<!DOCTYPE html>
<html ng-app="musicnest">
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Music Nest - Porter Robinson</title>
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="libs/angular/angular.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/services/musicnest.js"></script>
  <script src="js/core.js"></script>
  <!--<script src="js/main.js"></script>-->
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<!-- Sets Controller -->
<div ng-controller="mainController">
<!-- Navigation Bar -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Music Nest</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
      </ul>
      <!-- Search Bar -->
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="formData.text" placeholder="Type an Artist"/>
          <button type="submit" class="btn btn-default" ng-click="searchArtist(formData)">Go!</button>
        </div>
    </form>
    </div>
  </div>
</div>
<!-- User Description  -->
<div class="jumbotron">
  <div class="container">
    <h1><span>Porter Robinson</span></h1>
    <p>Robinson began producing at the age of 12, achieving international stardom by the time he was 18. Viewed as one of America's forefront electronic producers, he has been named 7th in the Billboard 21 under 21 list, # 1 in InTheMix's 25 under 25 list, and 5th in DJ Times' 2013 ranking for America's Best DJ. Three of Robinson's records reached number one on Beatport's overall chart before the time he was 21.

He currently lives in his hometown of Chapel Hill, North Carolina.</p>
  </div>
</div>
<!-- Columns -->
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Social Media</h2>
      <ul>
        <li><a href="https://www.facebook.com/porterrobinsonmusic">Facebook</a></li>
        <li><a href="https://twitter.com/porterrobinson">Twitter</a></li>
        <li><a href="https://soundcloud.com/porter-robinson">Soundcloud</a></li>
        <li><a href="http://instagram.com/porterrobinson">Instagram</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Related Artists</h2>
      <ul>
        <li>Zedd</li>
        <li>Mat Zo</li>
        <li>Arty</li>
      </ul>
   </div>
    <div class="col-md-4">
        <img src="http://www.billboard.com/files/styles/promo_650/public/media/porter-robinson-2013-650-430.jpg" height="200"/>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; Music Nest 2014</p>
  </footer>

</div> <!-- /container -->
</div><!-- /controller -->
</body>

</html>
